# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
Project2/.vs/
Project2/Debug/
Project2/Project2/Debug/
Project2/Project2/Project2.vcxproj
Project2/Project2/Project2.vcxproj.filters
Project2/Project2/Project2.vcxproj.user